@import '../../global.variables.scss';
.parrotSection_wrap {
  background-color: $color-bg-header;
  padding: 69px 18px 96px;
}

.parrotSection_nature {
  max-width: $main-container;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1120px) {
  .parrotSection_nature {
    flex-direction: column;
    justify-content: space-around;
  }

  .parrotSection_headline {
    align-items: center;
  }

  .parrotSection_parrot_img {
    width: 100%;
    img {
      object-position: 147px 0;
    }
  }

  .parrotSection_parrot_members {
    img {
      position: absolute;
      bottom: 7px;
      left: 0;
    }
  }

}

.parrotSection_search {
  position: relative;
  button {
    position: absolute;
    width: 122px;
    bottom: 10px;
    right: 11px;
  }
  input {
    padding: 13px;
    width: 251px
  }
}

.parrotSection_headline {
  max-width: 542px;
  padding: 69px 0 0;
  display: flex;
  flex-direction: column;
}

.parrotSection_headline_text {
  max-width: 400px;
  p {
    margin: 59px 0 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
  }
}

.parrotSection_headline_img {
  img {
    width: 100%;
  }
}

.parrotSection_parrot {
  max-width: 504px;
}

.parrotSection_parrot_img {
  img {
    transition: 0.5s;
    width: 100%;

    &:hover {
      filter: grayscale(1);
    }
  }
}

.parrotSection_parrot_members {
  position: relative;
  img {
    position: absolute;
    bottom: -5px;
    right: 257px
  }

}