@import '../../global.variables.scss';

.formSection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: $color-bg-form;
  max-width: $main-container;
  margin: 192px auto 192px;
  padding: 90px 18px;
  border-radius: 20px;
}

.formSection_paragraph {
  max-width: 384px;
  margin-bottom: 53px;
}

.formSection_form {
  width: 422px;
  padding: 55px 40px;
  border-radius: 16px;
  background-color: $color-bg-header;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 28px;

  &::after {
    position: absolute;
    right: -8px;
    top: -21px;
    width: 49px;
    height: 76px;
    content: "";
    background-image: url('../../images/flower.svg');
    background-repeat: no-repeat;
  }
}



.formSection_form_header {
  font-weight: 600;
  font-size: 32px;
}