@import '../../global.variables.scss';

.paragraph {
  width: 100%;
}

.paragraph_title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 40px;
  color: $color-main-header;
}

.paragraph_text {
  font-size: 18px;
  line-height: 32px;
  opacity: 0.9;
  color: $color-main-text;
}