@import '../../global.variables.scss';

.faqSection {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 48px;
  max-width: $main-container;
  margin: 0 auto 192px;
}

@media (max-width: 1036px) {
  .faqSection {
    justify-content: space-around;
    padding: 0 18px;
  }
}

.faqSection_wrapper {
  max-width: 536px;
}

.faqSection_paragraph {
  max-width: 496px;
}

.faqSection_button {
  max-width: 166px;
  margin-top: 56px;
}


