.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.petal {
  position: relative;

  &:nth-child(2) {
    top: 8px;
    left: -9px;
  }
  &:nth-child(3) {
    top: 20px;
    right: 28px;
  }
}

.logoFlower {
  display: inline-block;
  transition: 1.5s;

  &:hover {
    transition: 1.5s;
    transform: rotate(-15deg);
  }
}