@import '../../global.variables.scss';

.teamSection {
  max-width: $main-container;
  margin: 192px auto 0;
}
.teamSection_paragraph {
  max-width: 352px;
  margin: 0 auto;
  text-align: center;
}

.teamSection_members {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1028px) {
  .teamSection_members {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    .teamSection_member {
       width: 60%;
      &:nth-child(1)::after {
        left: 29px;
        top: 171px;
        transform: rotate(85deg);
        width: 348px;
        height: 100px;
      }

      &:nth-child(2)::after {
        left: -197px;
        top: 186px;
        transform: rotate(110deg);
        width: 460px;
        height: 187px;
      }

      &:nth-child(3) {
        margin-top: 100px;
      }
    }
  }
}

.teamSection_member {
    position: relative;
    z-index: 100;
    max-width: 320px;
  img {
    width: 100%;
  }
  &:nth-child(1)::after {
    position: absolute;
    z-index: -1;
    left: 251px;
    top: 38px;
    transform: rotate(15deg);
    width: 399px;
    height: 100px;
    content: "";
    background-image: url('../../images/team/Vector 1.svg');
  }
  &:nth-child(2) {
    position: relative;
    margin-top: 79px;
  }
  &:nth-child(2)::after {
    position: absolute;
    z-index: -1;
    left: 118px;
    top: 120px;
    transform: rotate(34deg);
    width: 495px;
    height: 288px;
    content: "";
    background-image: url('../../images/team/Vector 2.svg');
    background-repeat: no-repeat;
  }
}