@import '../../global.variables.scss';

.button {
  font-weight: 700;
  font-size: 16px;
  border-radius: 40px;
  width: 100%;
  position: relative;
  background-color: $color-bg-header;
  padding: 15px 0;
  text-align: center;

  transition: all .3s;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #9c9cff;
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: $color-white;

    &:before {
      width: 100%;
    }
  }
}