@import "../../global.variables";

.nav {
  display: flex;
  max-width: 548px;
  gap: 102px;

  a {
    color: #000;
  }


@media (min-width: 860px) {
    a {
      position: relative;
      cursor: pointer;
      line-height: 1;
      text-decoration: none;
    }

    a:after {
      display: block;
      position: absolute;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $color-primary;
      content: "";
      transition: width 0.3s ease-out;
    }

    a:hover:after {
      width: 100%;
    }
  }
}

.navItem {
  font-size: 16px;
}

@media (max-width: 860px) {
  .nav {
    flex-direction: column;
    margin: 72px auto;
    gap: 56px;
    text-align: center;
    padding-bottom: 165px;
  }

  .navItem {
    font-size: 28px;
  }

}
