@import '../../global.variables.scss';

.inputField {
  border-radius: 40px;
  background-color: $color-white;
  padding: 12px 25px;
  width: 100%;
  transition: 1s;

  &:focus-within {
    border: 1px solid #939393FF;
  }

    input {
      width: 100%;
      font-size: 14px;
      line-height: 24px;
      color: #807C7C;
    }
}