@import "../../global.variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $main-container;
  padding: 32px 0;
  margin: 0 auto;
  border-bottom: 4px solid $color-main-header;
}

.header_button {
  width: 145px;
}
