@import '../../global.variables.scss';

.question {
  width: 100%;
  border-bottom: 1px solid #D2D1D2;
  padding: 35px 0;
}

.question_title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
  font-weight: 600;
  font-size: 24px;
  color: $color-main-text;
}

.question_answer {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color-main-text;
  margin-top: 16px;
  max-width: 459px;
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.question_answer_active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.question_button {
  background-color: $color-bg-button;
  min-width: 35px;
  min-height: 35px;
  border-radius: 50%;

  img {
    vertical-align: middle;
  }
}