@import '../../global.variables.scss';

.footer_wrap {
  background-color: $color-bg-header;
}

.footer {
  max-width: $main-container;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 33px;
  padding: 96px 18px 88px;
}

.footer_column {

}

.footer_column_title {
  font-weight: 700;
  font-size: 20px;
  color: #333333;
  margin-bottom: 37px;
}

h3 {
  font-size: 34px !important;
}

.footer_column_text {
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.3px;
  color: #333333;
  line-height: 24px;
}

.footer_address {
  display: flex;
  justify-content: space-between;
  width: 580px;
}

.footer_socialMedia_wrap {
  display: flex;
  justify-content: space-between;
  gap: 13px;
}

.footer_socialMedia {
    img {
      transition: 1s;
        &:hover {
            transform: scale(1.2);
          }
        }
}

