$color-main-text: #1E1A20;
$color-main-header: #222433;
$color-primary: #000000;
$color-white: #FFF;
$color-bg-form: #FFBD9E;
$color-bg-button: #F26C74;
$color-bg-header: #F7F3F4;

$main-container: 1120px;
