@import "../../global.variables";

.swiper-button-prev, .swiper-button-next {
  color: $color-primary !important;
  &:after {
    font-size: 15px !important;
  }
}

.swiper-wrapper {
  align-items: center;
}



.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.slide_active_card , slide_card_img {
  h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    color: $color-main-text;
  }
}

.slide_active_card {
  max-width: 473px;
  position: relative;
    img {
      width: 100%;
    }

  div {
    max-width: 281px;
    position: absolute;
    bottom: 27%;
    left: 20%;
  }

  p {
    max-width: 285px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: $color-main-text;
  }
}

.slide_active_card_img {
  position: absolute;
  top: 2px;
    img {
      width: 145px;
    }
}

.slide_card_img {
  width: 235px;
    h4 {
      color: $color-white;
      position: absolute;
      top: 40%;
      right: 40%;
    }
      img {
        width: 100%;
      }
}

@media (max-width: 949px) {
  .slide_active_card {
    div {
      left: 15%;
    }
  }
}

@media (min-width: 950px) and (max-width: 1240px) {
  .slide_active_card {
    div {
      left: 9%;
    }
  }
}

